%nav.navbar.navbar-inverse
  .container-fluid.z-index
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to image_tag("zingela_logo.png",:class => 'navbar-brand'), root_path
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
      %ul.nav.navbar-nav.navbar-right
        - if admin_signed_in?
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-user
              =current_admin.email
              %b.caret
            %ul.dropdown-menu
              %li
                =link_to 'Logout <i class="fa fa-fw fa-power-off"></i>'.html_safe, destroy_admin_session_path, :method => :delete
        - if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-user
              =current_user.email
              %b.caret
            %ul.dropdown-menu
              %li
                %i.fa.fa-building
                = Company.find(current_user.company_id).company_name
              %li
                =link_to 'Logout <i class="fa fa-fw fa-power-off"></i>'.html_safe, destroy_user_session_path, :method => :delete
        - user_active = ""
        - admin_active = ""
        - is_login_screen = ""
        - if request.original_url.include? "admins/sign_in"
          - admin_active = "active"
          - is_login_screen = true
        - if request.original_url.include? "users/sign_in"
          - user_active = "active"
          - is_login_screen = true
        - if is_login_screen == true
          %ul.nav.nav-pills.pull-right
            %li{:role => "presentation", :class => "#{user_active}"}
              %a{:href => "/users/sign_in/"} User Login
            %li{:role => "presentation", :class => "#{admin_active}"}
              %a{:href => "/admins/sign_in/"} Admin Login
  -if notice
    .alert.alert-success.alert-dismissibl{:role => "alert"}
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        %span{"aria-hidden" => "true"} ×
      = notice
  -if alert
    .alert.alert-danger.alert-dismissible{:role => "alert"}
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        %span{"aria-hidden" => "true"} ×
      = alert
  %ul.nav.navbar-nav.side-nav
    - if admin_signed_in?
      %li
        =link_to 'New Company', new_company_registration_path
      %li
        =link_to 'Manage Companies', manage_companies_path
      %li
        =link_to 'New User', new_user_registration_path
      %li
        =link_to 'Manage Users', manage_users_path
    - if user_signed_in?
      %li
        %a{"data-target" => "#projects", "data-toggle" => "collapse", :href => "javascript:;"}
          %i.fa.fa-files-o
          Projects
          %i.fa.fa-fw.fa-caret-down
        %ul#projects.collapse
          %li
            =link_to 'New <i class="fa fa-fw fa-plus"></i>'.html_safe, new_project_path
          %li
            =link_to 'Manage <i class="fa fa-fw fa-pencil"></i>'.html_safe, projects_path
      %li
        %a{"data-target" => "#field_data", "data-toggle" => "collapse", :href => "javascript:;"}
          %i.fa.fa-database
          Field Data
          %i.fa.fa-fw.fa-caret-down
        %ul#field_data.collapse
          %li
            =link_to 'New <i class="fa fa-fw fa-plus"></i>'.html_safe, new_field_datum_path
          %li
            =link_to 'Manage <i class="fa fa-fw fa-pencil"></i>'.html_safe, field_data_path
      %li
        %a{"data-target" => "#location", "data-toggle" => "collapse", :href => "javascript:;"}
          %i.fa.fa-map-marker
          Locations
          %i.fa.fa-fw.fa-caret-down
        %ul#location.collapse
          %li
            =link_to 'New <i class="fa fa-fw fa-plus"></i>'.html_safe, new_location_path
          %li
            =link_to 'Manage <i class="fa fa-fw fa-pencil"></i>'.html_safe, locations_path
