= form_for @observation do |f|
  - if @observation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@observation.errors.count, "error")} prohibited this observation from being saved:"
      %ul
        - @observation.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :notes
    = f.text_field :notes, class: "form-control"
  .field
    = f.label :field_data_id
    -projects = Project.where(company_id:current_user.company_id)
    = f.collection_select(:field_data_id, FieldDatum.where(project: projects), :id, :full_name , {}, {:class=>'form-control'})
  .clear-20
  .actions
    = f.submit 'Save', class: "btn btn-success pull-right"
