%p#notice= notice

%p
  %b Name:
  = @location.name
%p
  %b Country:
  = @location.country
%p
  %b Province:
  = @location.province
%p
  %b City:
  = @location.city
%p
  %b Address 1:
  = @location.address_1
%p
  %b Address 2:
  = @location.address_2

= link_to 'Edit', edit_location_path(@location)
\|
= link_to 'Back', locations_path
