%p#notice= notice

%p
  %b Date:
  = @field_datum.date
%p
  %b Location:
  = @field_datum.location_id
%p
  %b Latitude degree:
  = @field_datum.latitude_degree
%p
  %b Latitude minutes:
  = @field_datum.latitude_minutes
%p
  %b Latitude seconds:
  = @field_datum.latitude_seconds
%p
  %b Longitude degree:
  = @field_datum.longitude_degree
%p
  %b Longitude minutes:
  = @field_datum.longitude_minutes
%p
  %b Longitude seconds:
  = @field_datum.longitude_seconds
%p
  %b Habitat description:
  = @field_datum.habitat_description
%p
  %b Project:
  = @field_datum.project_id
%p
  %b User:
  = @field_datum.user_id

= link_to 'Edit', edit_field_datum_path(@field_datum)
\|
= link_to 'Back', field_data_path
