%h1.page-header
  Show
  %small
    Field Data
.col-lg-10
  %h4
    %b Date:
    = @field_datum.date
  %h4
    %b Location:
    = @field_datum.location.name
  %h4
    %b Latitude degree:
    = @field_datum.latitude_degree
  %h4
    %b Latitude minutes:
    = @field_datum.latitude_minutes
  %h4
    %b Latitude seconds:
    = @field_datum.latitude_seconds
  %h4
    %b Longitude degree:
    = @field_datum.longitude_degree
  %h4
    %b Longitude minutes:
    = @field_datum.longitude_minutes
  %h4
    %b Longitude seconds:
    = @field_datum.longitude_seconds
  %h4
    %b Habitat description:
    = @field_datum.habitat_description
  %h4
    %b Project:
    = @field_datum.project.name
  %h4
    %b User:
    - if User.exists?(@field_datum.user_id)
      = User.find(@field_datum.user_id).email
    - else
      %span.error
        User Deleted
  - puts "HEy #{}"
  - @field_datum.observations.each do |obs|
    = obs.notes
  = link_to 'Edit', edit_field_datum_path(@field_datum), class: "btn btn-primary"
  = link_to 'Back', field_data_path, class: "btn btn-default"
