%h1 Companies
%table.table
  %thead
    %tr
      %th Name
      %th Email
      %th Admin email
      %th
      %th
      %th
  %tbody
    - @companies.each do |company|
      %tr
        %td= company.company_name
        %td= company.email
        %td= Admin.find(company.admin_id).email
        %td= link_to 'Edit', edit_company_registration_path(company), class:"btn btn-default"
        %td= link_to 'Destroy', company_registration_path(company), :method => :delete, :data => { :confirm => 'Are you sure?' }, class:"btn btn-danger"
%br
= link_to 'New Company', new_company_registration_path, class:"btn btn-success pull-right"
